<form
  novalidate
  autocomplete="off"
  class="my-3"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name" />
    <p
      class="text-danger"
      *ngIf="name.invalid && name.dirty && name.errors?.required"
    >
      Required
    </p>
    <p
      class="text-danger"
      *ngIf="name.invalid && name.dirty && name.errors?.minlength"
    >
      Provide:
      {{
        name.errors?.minlength?.requiredLength -
          name.errors?.minlength?.actualLength
      }}
      more
    </p>
  </div>

  <div class="form-group">
    <label>Bio</label>
    <textarea class="form-control" rows="3" formControlName="bio"></textarea>
  </div>

  <div class="form-group">
    <label>Image Url</label>
    <input type="text" class="form-control" formControlName="imageUrl" />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Submit
  </button>
</form>
